* {
    font-family: "Poppins", "sans-serif";
    font-weight: bold;
    outline: none!important;
}

body,
.section {
    /* background-color: #000; */
    /* color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    row-gap: 1em;
    padding: 0.5em;
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

.section {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: right;
    align-items: flex-start;
    padding: 1em 1em;
    row-gap: 0.2em;
}

.section::-moz-scrollbar {
    width: 0.7em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.section::-moz-scrollbar-thumb {
    background-color: #212121;
}

.section::-moz-scrollbar-track {
    background-color: #fff;
}

.section::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.section::-webkit-scrollbar {
    width: 0.7em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.section::-webkit-scrollbar-thumb {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #212121;
}

body {
    background-color: #212121;
    padding: 2em 1em 1em 1em;
}

a {
    color: #212121;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0em;
}

row,
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
    width: 100%;
}

form.row {
    column-gap: 0px;
    border-radius: 100px;
    /* background-color: #fff; */
    justify-content: space-between;
    margin: 0em;
    width: 80%;
    /* background-color: #000; */
    padding: 0em;
    background-color: #212121;
}

column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
}

.input {
    color: #212121;
    background-color: #fff;
    width: 92%;
    height: 3em;
    border-radius: 20px;
    font-size: 1em;
    padding: 0.5em 1em;
    border: 2px solid #212121;
}

.button {
    color: #212121;
    background-color: #fff;
    width: 4em;
    height: 3em;
    border: 0px solid #212121;
    border-radius: 0px;
    font-size: 1em;
    border-radius: 100px;
    padding: 0.5em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    background-color: #212121;
    color: #fff;
}

.drop-down {
    background-color: #212121;
    color: #fff;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.drop-down-options {
    background-color: #fff;
    color: #212121;
    border: 0px;
}

.list {
    width: 8em;
    margin: 0.3em 0em;
    display: inline-block;
    margin-left: 1em;
}

.list a {
    text-decoration: none;
}

.icon {
    margin-right: 0.5em;
}

.center {
    width: 100%;
    text-align: center;
    color: #fff;
}

.rowScroll {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.5em;
    column-gap: 1em;
    width: 100%;
}

.scrollX {
    width: 90%;
    overflow-y: hidden;
    overflow-x: auto;
    justify-self: left;
}

.scrollX::-moz-scrollbar {
    height: 0.4em;
    border-radius: 10px;
    background-color: #212121;
}

.scrollX::-moz-scrollbar-thumb {
    background-color: #fff;
    border: 1px solid #212121;
}

.scrollX::-moz-scrollbar-track {
    background-color: #212121;
    border: 1px solid #fff;
}

.scrollX::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    border-radius: 10px;
    background-color: #212121;
    border: 1px solid #fff;
}

.scrollX::-webkit-scrollbar {
    height: 0.4em;
    border-radius: 10px;
    background-color: #212121;
}

.scrollX::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #fff;
    border: 1px solid #212121;
}

.small {
    font-size: 0.6em;
}

.small-container {
    width: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classId {
    width: 10em!important;
}

@media only screen and (max-width: 1070px) {
    .input {
        width: 90%;
    }
}

@media only screen and (max-width: 870px) {
    .input {
        width: 88%;
    }
}

@media only screen and (max-width: 737px) {
    .input {
        width: 85%;
    }
}

@media only screen and (max-width: 608px) {
    .input {
        width: 80%;
    }
}

@media only screen and (max-width: 470px) {
    .input {
        width: 75%;
    }
}

@media only screen and (max-width: 400px) {
    .input {
        width: 72%;
    }
}

@media only screen and (max-width: 357px) {
    form.row {
        width: 100%;
        justify-content: center;
        gap: 1em;
    }
    .input {
        width: 70%;
    }
}

@media only screen and (max-width: 357px) {
    .input {
        width: 60%;
    }
}